<div class="container-fluid sticky-top col p-0" style="position: absolute; left: 67px; max-width: calc(100vw - 67px);">
    <nav class="navbar navbar-light p-0 shadow" style="height: 70px;">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link"><img src="../../../assets/images/logo.svg" class="img-fluid mb-3"></a>
            </li>
            <li class="nav-item">
                <h4 class="m-3">Live Tracking</h4>
                <footer class="blockquote-footer px-3">Resources &gt; Vehicles</footer>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ms-auto mb-5">
                <li class="nav-item">
                    <span class="rounded custom-button">
                        <img src="../../../assets/images/Group.svg" class="m-2 navbar-image p-2"> 
                    </span>
                </li>
                <li class="nav-item">
                    <span class="rounded custom-button">
                        <img src="../../../assets/images/ic_error.svg" class="m-2 navbar-image p-2">
                    </span>
                </li>
                <li class="nav-item">
                    <span class="rounded custom-button">
                        <img src="../../../assets/images/notification.svg" class="m-2 navbar-image p-2">
                    </span>
                </li>
        </ul>

            <!--Login, Registeration and Logout Method-->
        <ul class="navbar-nav flex-row ms-4 mb-5">
            <li class="nav-item m-1">
                    <div class="nav-link text-dark bg-light border border-light" style="border-radius: 10px;"><span class="m-lg-3">Mohamed Ahmed</span><span class="bg-white p-3" style="border-radius: 10px;">MA</span></div>
            </li>
        </ul>
    </nav>
</div>