a {
    text-decoration: none;
    color: var(--blue-dark-text, #172051);

    /* poppins 12px medium */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.1px;
}