  <div class="m-4" style="position: absolute; left: 67px; top: 125px; width: 100%; height: 587px; max-width: calc(100vw - 110px);">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col"><input type="checkbox" name="" id=""></th>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Plate number</th>
            <th scope="col">Group</th>
            <th scope="col">Allocation</th>
            <th scope="col">Status</th>
            <th scope="col">Device Code</th>
            <th scope="col">Vendor</th>
            <th scope="col">Version</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehiclesList">
            <td><input type="checkbox" name="" id=""></td>
            <th scope="row"><a routerLink="vehicle-details">{{vehicle.carImage}}</a></th>
            <td><a routerLink="vehicle-details">{{vehicle.id}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.plateNumber}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.group}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.allocation}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.statusImage}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.deviceCode}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.vendor}}</a></td>
            <td><a routerLink="vehicle-details">{{vehicle.version}}</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>