<div class="d-flex justify-content-between" style="position: absolute; left: 67px; max-width: calc(100vw - 67px); bottom: 0; width: 100%;">
    <div class="mx-3">
        <p class="typography-small m-4">1-50 of 2,456</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p class="typography">
            Page
        </p>
        <div class="input-group mb-3 mx-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 70px; background-color: #fff; border: 1px solid #ddd;">1</button>
            </div>
        </div>
        <p class="typography" style="display: inline-block; white-space: nowrap;">
            of 10
        </p>
    </div>
    <div class="mx-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item mx-1">
                <a class="page-link page-selector" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  
                </a>
              </li>
              <li class="page-item mx-1"><a href="#" class="page-link page-selector"><span>&lt;</span></a></li>
              <li class="page-item mx-1"><a class="page-link page-selector-selected" href="#">1</a></li>
              <li class="page-item mx-1"><a class="page-link page-selector" href="#">2</a></li>
              <li class="page-item mx-1"><a class="page-link page-selector" href="#">3</a></li>
              <li class="page-item mx-1"><a class="page-link page-selector" href="#">...</a></li>
              <li class="page-item mx-1"><a class="page-link page-selector" href="#">10</a></li>
              <li class="page-item mx-1"><a href="#" class="page-link page-selector"><span>&gt;</span></a></li>
              <li class="page-item mx-1">
                <a class="page-link page-selector" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
</div>