<nav class="box-shadow p-0 sidebar navbar d-flex flex-column justify-content-between">
    <div class="my-4">
        <ul class="navbar-nav flex-column flex-md-column">
            <app-side-menu-button [imgSrc]="imgSrcOne" [alt]="altOne"></app-side-menu-button>
        </ul>
    </div>
    <h5 class="text-center text-white">....</h5>
    <div class="container-fluid d-flex flex-column justify-content-between" style="margin-top: -30px;">
        <ul class="navbar-nav flex-column flex-md-column">
            <app-side-menu-button [imgSrc]="imgSrcTwo" [alt]="altTwo"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcThree" [alt]="altThree"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcFour" [alt]="altFour"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcFive" [alt]="altFive"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcSix" [alt]="altSix"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcSeven" [alt]="altSeven"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcEight" [alt]="altEight"></app-side-menu-button>
            <app-side-menu-button [imgSrc]="imgSrcNine" [alt]="altNine"></app-side-menu-button>
        </ul>
    </div>
    <div class="my-4">
        <ul class="navbar-nav flex-column flex-md-column">
            <app-side-menu-button class="shadow justify-content-center align-items-center d-flex" style="width: 32px; height: 32px; border-radius: 10px;" [imgSrc]="imgSrcTen" [alt]="altTen"></app-side-menu-button>
        </ul>
    </div>
</nav>